.contenido{
    width: 95%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.contenido_caja1{
    background-color: rgb(10, 88, 139);
    width:50rem;
    height: 85%;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenido_caja1 h3{
    font-size: 2.8rem;
    display: flex;
}
.contenido_caja1 span{
    font-size: 20rem;
    display: flex;
}
.caja{
    background-color: rgb(72, 132, 223);
    width: 40rem;
    display: flex;
    height: 40rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
}
.caja span{
    font-size: 3rem;
}
.texto{
    width: 30rem;
    height: 3rem;
}
.tiempo{
    width: 25rem;
    height: 2.5rem;
}
.caja button{
    width: 10rem;
    height: 2.5rem;
}

