.header{
    display: flex;
    width: 95%;
    background-color: beige;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 5rem;
}
.inicio{
    width: 30rem;
    display: flex;
    justify-content: space-between;
    
}
.header p{
    justify-content: space-between;
    display: flex;
    place-items: center;
    width: 22rem;
    font-size: 1.5rem;
}

.otros{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:43rem;
}
.otros div{
    width: 7rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.2rem;
}